<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启springmvc注解模式
    1、自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
    2、默认提供一系列的功能:数据绑定，数字和日期的format@NumberFormat,@DateTimeFormat
    3、xml,json的默认读写支持-->
    <mvc:annotation-driven/>

    <!--静态资源的默认配置-->
    <mvc:default-servlet-handler/>
    <!--<mvc:resources mapping="/resources/**" location="/ueditor/"/>-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--扫描controller相关的注解-->
    <context:component-scan base-package="com.cqupt.project.controller"/>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/news/*"/>
            <bean class="com.cqupt.project.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>